<section>

    <h2>Use of Directive </h2>
    <ul>
        <li *ngFor="let course of courses">{{course}}</li>
    </ul>
</section>
<section>
    <h2>Two Way Binding </h2>
    <input type="text" [value]='alternate2Way' (keyup.enter)="alternate2Way = $event.target.value;testAlternate2Way()">
    <input type="text" [(ngModel)]='ng2Way' (keyup.enter)="testNg2Way()">
</section>
<section>
    <h2>Use of Pipes</h2>
    <table border="1px">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Details</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>{{courseDetails.name | uppercase}}</td>
            <td>{{courseDetails.price|number:'3.1-1'}}</td>
            <td>{{courseDetails.students | number}}</td>
            <td>{{courseDetails.regDate|date:'longDate'}}</td>
        </tr>
    </table>
</section>
<section>
    <h2>Custom Pipes</h2>
    {{testCustomPipe | summary:100}}
</section>
<section>
    <h2>Assignment Favourite Star and Binding Input and Output Properties</h2>
    <favorite [isFavorite]='post.isFavorite' (change)='onFavoirteChanged($event)'></favorite>
</section>
<section>
    <h2>Assignment Title Case</h2>
    <input type="text" [(ngModel)]='text2Change'>
    <p>{{text2Change | titlecase}}</p>
</section>
<section>
    <h2>View Encapsulation</h2>
    <favorite [isFavorite]='post.isFavorite' (change)='onFavoirteChanged($event)'></favorite>
    <div class='glyphicon glyphicon-tint'></div>
</section>
<section>
    <h2>ngContent & ngContainer</h2>
    <bootstrap-panel>
        <ng-container class="heading">Heading text coming from parent</ng-container>
        <div class="body">Body text coming from parent</div>
    </bootstrap-panel>
</section>
<section>
    <h2>Like Post Assignment</h2>
    <like-component [is-selected]="likeData.state" [count]="likeData.noOfLikes" (change)="onLikeChanged()">
        <img src="http://lorempixel.com/400/200" class="post-content" />>{{likeData.postContent}}

    </like-component>
</section>
<section>
    <h3>Directives ngIf</h3>
    <div *ngIf="courses.length > 0; then listOfCourses else noCourses"></div>
    <ng-template #listOfCourses>
        List of courses
    </ng-template>
    <ng-template #noCourses>
        No courses yet
    </ng-template>
</section>
<section>
    <h3>Hidden Attribute</h3>
    <div [hidden]="courses.length === 0">
        List of Courses. <em>Both div are present on DOM </em>
    </div>
    <div [hidden]="courses.length > 0">
        No courses yet. <em>Both div are present on DOM </em>
    </div>
</section>
<section>
    <h3>ngSwitchCase</h3>
    <ul class="nav nav-pills">
        <li [class.active]="viewMode=='map'" (click)="changeTab()"><a>Map View</a></li>
        <li [class.active]="viewMode=='list'" (click)="changeTab()"><a>List View</a></li>
    </ul>
    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'map'">Map View</div>
        <div *ngSwitchCase="'list'">List View</div>
        <div *ngSwitchDefault>Other Wise</div>
    </div>
</section>
<section>
    <h3>ngFor and Change Detection</h3>
    <button (click)="addItem()">Add Item</button>
    <button (click)="reload()">Reload</button>
    <ul>
        <li *ngFor="let item of items;index as i;trackBy:checkById">{{i}}-{{item.price}}
            <button class="remove" (click)="removeItem(item)">Remove</button>
        </li>
    </ul>
</section>
<section>
    <h3>ngClass && ngStyle</h3>
    <div [ngClass]="{ orange:isSelected, black:!isSelected}">ngClass</div>
    <div [ngStyle]="{ color:'Green',fontWeight:'bold'}">ngStyle <em>Style properties shourld be in camelCase</em></div>
</section>
<section>
    <h3>Safe Traversal Operator</h3>
    <div>{{task.assignee?.name}}</div>
</section>
<section>
    <h3>Custom Directives</h3>
    <input type="text" [appInputFormat]="'uppercase'">
</section>
<section>
    <h3>Template Driven Form</h3>
    <app-form></app-form>
    signup-form
</section>
<section>
    <h3>Reactive Form</h3>
    <signup-form></signup-form>
</section>
<section>
    <h3>Form Array Control Implementation</h3>
    <form-array></form-array>
</section>
<section>
    <h3>Reactive Form Assignment</h3>
    <reacitve-form-assignment></reacitve-form-assignment>
</section>
<section>
    <h3>Service Integration</h3>
    <posts></posts>
</section>